# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules

# production
/dist

# misc
npm-debug.log*
yarn-error.log
.eslintcache

.idea
yarn.lock
package-lock.json
pnpm-lock.yaml

# visual studio code
.history
*.log

build
